<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    
    <display-name>Best Learning Platforms Website</display-name>
    <description>Website showcasing top online learning platforms</description>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- Servlet Declarations -->
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.learningplatforms.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PlatformsServlet</servlet-name>
        <servlet-class>com.learningplatforms.servlet.PlatformsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlatformsServlet</servlet-name>
        <url-pattern>/platforms</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AboutServlet</servlet-name>
        <servlet-class>com.learningplatforms.servlet.AboutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AboutServlet</servlet-name>
        <url-pattern>/about</url-pattern>
    </servlet-mapping>
    
    <!-- Session Configuration -->
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    
    <!-- Error Pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/index.jsp</location>
    </error-page>
    
    <!-- MIME Type Mappings -->
    <mime-mapping>
        <extension>css</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/javascript</mime-type>
    </mime-mapping>
</web-app>
